.dots {
  z-index: -1;
}

.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: url("../../imgs/ribbed_dots_gray.svg"),
    url("../../imgs/ribbed_dots_gray.svg"), var(--gray);
  background-repeat: no-repeat, no-repeat;
  background-position: bottom left, right top;
  background-size: 304px 318px, 304px 318px;
}

@media (min-width: 769px) {
  .app {
    background-position: 75% 12%, 25% 75%;
  }
}

.center {
  margin: 5em auto 0;
  width: 100%;
  max-width: 520px;
  padding: 20px;
  background: var(--gray);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.center button {
  margin: 2em auto;
}

.center > div {
  margin-bottom: 1em;
}

.title {
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
}

@media (min-width: 400px) {
  .title {
    font-size: 2em;
    font-weight: normal;
  }
}

.info {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.info svg {
  margin-right: 1em;
}

.checkmark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.success {
  position: relative;
}
