.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row p {
  margin: 0;
}

.key,
.value {
  font-weight: bold;
}

.value {
  color: var(--main-color);
}

.bold {
  font-weight: bold;
}
