.button,
.smallbutton {
  background: var(--main-color);
  color: var(--secondary-color);
  font-weight: bold;
  border: none;
  max-width: 350px;
  width: 100%;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  display: block;
  transition: background 0.3s;
}

.button:hover,
.smallbutton:hover {
  background: var(--lighter-main-color);
}

.smallbutton {
  max-width: fit-content;
}
