.modal {
  position: fixed;
  bottom: -60px;
  left: 50%;
  width: 90%;
  background: var(--secondary-color);
  z-index: 5;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  max-width: 400px;
  transform: translate(-50%, 310px);
  animation: appear 0.3s;
  animation-fill-mode: forwards;
}

.disappear {
  transform: translate(-50%, -60px);
  animation: disappear 0.3s;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}

.top {
  padding: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.title {
  display: flex;
  margin-bottom: 1em;
}

.title img {
  margin-right: 1em;
}

.title > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.td {
  font-size: 1.3em;
  margin-bottom: 0.2em;
}

.date {
  font-size: 0.8em;
  color: #ccc;
  margin-left: 0.5em;
}

.info {
  width: 60%;
  font-size: 0.9em;
}

.info > div {
  margin-bottom: 0.5em;
}

.bottom,
.bottomSuccess {
  background: var(--main-color);
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom svg,
.bottomSuccess svg {
  width: 60px;
  height: 60px;
  margin-right: 2em;
}

.bottom div,
.bottomSuccess div {
  font-size: 1.2em;
  color: var(--secondary-color);
}

.bottomSuccess {
  background: var(--complete-color);
}

.checkmark {
  animation: scale-in 0.3s cubic-bezier(0.34, 0.01, 0.18, 1.84);
}

.approvalMessage {
  animation: appear-message 1s;
}

@media (min-width: 769px) {
  .modal {
    max-width: 850px;
    display: flex;
    min-height: 250px;
  }

  .top {
    width: 100%;
    flex-grow: 1.5;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .bottom,
  .bottomSuccess {
    flex-grow: 1;
    flex-basis: 0;
    flex-direction: column;
    justify-content: center;
    border-top-right-radius: 20px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 6% 100%);
  }

  .bottom svg,
  .bottomSuccess svg {
    margin-right: 0;
    margin-bottom: 1em;
  }

  .bottom > div,
  .bottomSuccess > div {
    font-size: 1.9em;
    text-align: center;
  }

  .info {
    width: 60%;
  }
}

@keyframes appear {
  from {
    transform: translate(-50%, 250px);
  }

  to {
    transform: translate(-50%, -60px);
  }
}

@keyframes disappear {
  from {
    transform: translate(-50%, -60px);
  }

  to {
    transform: translate(-50%, 250px);
  }
}

@keyframes scale-in {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes appear-message {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
