button {
  text-align: center;
}

.app {
  background: var(--gray);
  width: 100%;
}

.accounts {
  margin: 0 auto;
  margin-bottom: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  max-width: 1100px;
  background: var(--gray);
}

@media (min-width: 916px) {
  .accounts > div:not(:last-child) {
    margin-right: 0.8em;
  }
}

.button {
  width: 100%;
  background: var(--gray);
}

.button button {
  margin: 0 auto 5em;
}
