.dots {
  z-index: -1;
}

button {
  height: fit-content;
}

.wrapper {
  max-width: 1064px;
  margin: 0 auto;
  font-size: 0.8em;
}

.body {
  margin-top: 2em;
  background: var(--secondary-color);
  padding: 20px;
  width: 100%;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}

.credit {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2em;
}

.creditNumber {
  display: block;
  color: #cccccc;
  margin-top: 1em;
}

.creditCard {
  height: 100px;
}

.bigCreditCard {
  height: 192px;
  display: none;
}

.row {
  display: flex;
  justify-content: space-between;
}

.info {
  margin-bottom: 2em;
}

.info p {
  margin-top: 0;
  margin-bottom: 0.5em;
}

.key,
.value {
  font-weight: bold;
}

.value {
  color: var(--main-color);
}

.totals {
  max-width: 500px;
  margin: 0 auto;
}

.totals button {
  margin: 0 auto 2em;
}

.transactions {
  width: 100%;
  border-collapse: collapse;
}

.transactions th {
  padding: 15px;
  text-align: left;
}

.transactions td {
  padding: 10px;
  border-bottom: solid 1px #ccc;
}

.transactions th:last-child,
.transactions td:last-child {
  text-align: right;
}

.transactionHeader {
  background: #e5e7eb;
}

.transactionHeader th {
  color: #aaa;
  font-size: 0.9em;
}

.hidden {
  display: none;
}

.hidden1 {
  display: none;
}

table {
  overflow-y: auto;
}

@media (min-width: 481px) {
  .hidden1 {
    display: block;
  }
}

@media (min-width: 769px) {
  .wrapper {
    font-size: 1em;
  }

  .totals {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .totalsInner {
    width: 100%;
    max-width: 400px;
  }

  .credit {
    justify-content: start;
  }

  .creditCard {
    display: none;
  }

  .bigCreditCard {
    display: block;
    margin-left: 3.5em;
    margin-right: 1em;
  }

  .hidden {
    display: block;
  }
}
