.app {
  height: 100vh;
  background: var(--main-color);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  background: url("../../imgs/ribbed_dots.svg"),
    url("../../imgs/ribbed_dots.svg"), var(--main-color);
  background-repeat: no-repeat, no-repeat;
  background-position: bottom left, right top;
  background-size: 304px 318px, 304px 318px;
}

@media (min-width: 769px) {
  .footer {
    display: flex;
  }

  .app {
    background-position: 75% 12%, 25% 75%;
  }
}

.info {
  font-size: 1.7em;
  margin-bottom: 0.5em;
  font-weight: bold;
}

.info .message:nth-child(2) {
  color: var(--main-color);
}

.blue {
  color: var(--main-color);
}

.link {
  font-weight: bold;
  color: var(--main-color);
}

.member {
  font-size: 0.8em;
  font-weight: 500;
  text-align: center;
  margin-bottom: 0;
}

@media (min-width: 390px) {
  .info {
    font-size: 2em;
    margin-bottom: 0.5em;
  }
}

.spacer1 {
  margin-top: 0.1em;
}
