.app {
  height: 100vh;
  background: var(--main-color);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: -1;
  padding: 0 10px;
}

.dots-left,
.dots-right {
  position: absolute;
}

.dots-left {
  z-index: 0;
  bottom: -100px;
  left: -100px;
}

.dots-right {
  z-index: 0;
  top: -100px;
  right: -100px;
}

@media (min-width: 600px) {
  .dots-left {
    bottom: 0;
    left: 0;
  }

  .dots-right {
    top: 0;
    right: 0;
  }
}

@media (min-width: 769px) {
  .footer {
    display: flex;
  }

  .dots-left {
    bottom: 20%;
    left: 20%;
  }

  .dots-right {
    top: 7%;
    right: 20%;
  }
}

.info {
  font-size: 1.7em;
  margin-bottom: 0.5em;
  font-weight: bold;
}

.info .message:nth-child(2) {
  color: var(--main-color);
}

.blue {
  color: var(--main-color);
}

@media (min-width: 390px) {
  .info {
    font-size: 2em;
    margin-bottom: 0.5em;
  }
}
