:root {
  --main-color: #036ef9;
  --secondary-color: #fff;
  --lighter-main-color: #358bfa;
  --darker-main-color: #0258c7;
  --gray: #f9fafb;
}

@font-face {
  font-family: "Inter";
  src: url(./fonts/Inter-Regular.ttf);
}

html {
  box-sizing: border-box;
  font-family: Inter;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Inter", BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--gray);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  margin: 0;
  list-style: none;
}
